
html {
height: 100%;
}

body {
 background-color: black;

height: 100%;
}

#menu{
background-color:white;
width: 80%;
height: 15%;
margin-left: 10%;
border: 2px solid black;
  border-radius: 30px;

}

#container{
background-color: black;
width: 80%;
height: 80%;
display:flex;
margin-left:10%;
margin-top: 10px;
}
#dash{
background-color: black;
width: 10%;
height: 100%;
border: 2px solid darkgrey;
border-radius:5px;
}
#display{
background-color: black;
width: 90%;
height: 100%;
border: 2px solid darkgrey;
border-radius:30px;
}
